@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

/* Header section styling */
.links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 32px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.header {
  background: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 100px;
}

/* Site information styling */
.site-info {
  background: #1F2937;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}

.main-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: extra-bold;
  margin-bottom: -10px;
}

.main-description {
  color: #b6b8bd;
  font-size: 18px;
  margin: 10px 0px;
}

button {
  padding: 8px 32px;
  border-radius: 8px;
}

button.sign-up {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.picture {
  background: #6f737C;
  color: #F9FAF8;
  width: 400px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary {
  width: 400px;
  flex-shrink: 1;
}

/* Additional information section styling */
.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 32px;
}

.additional-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 100px;
}

.content {
  width: 150px;
  margin: 5px 25px;
}

.holder {
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid royalblue;
  width: 150px;
  height: 150px;
}

.text {
  text-align: center;
  color: #6f737C;
  margin-top: 8px;
}

.quote-section {
  background: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.quote {
  color: #6e7681;
  font: caption; 
  font-size: 34px;
  font-style: italic;
  text-align: left;
  width: 800px;
}

.author {
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 50px;
  width: 800px;
}